html, body{
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
}

body {
	font-family: Arial;
}

#map, #settings {
    margin: 0;
    padding: 0;
}

#app {
	display: flex;
}

#map {
	width: 80%;
}

#settings {
	width: 20%;
	padding: 0px;
}

#settings > div {
    padding:0px 20px;
    overflow: scroll;
    overflow-x:hidden;
    height:100%
}

.label {
    display: inline-block;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #03366D;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.gray {
	color: #777;
}