<html lang="uk">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leaflet</title>

    <!-- My CSS -->
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link type="text/css" href="leaflet/leaflet.css" rel="stylesheet">
    <link type="text/css" href="css/ion.rangeSlider.css" rel="stylesheet">
    <link type="text/css" href="css/ion.rangeSlider.skinModern.css" rel="stylesheet">

    <!-- Init Vue JS -->
    <script src="js/vue.js"></script>
    <script src="js/jquery.js"></script>
    <script src="leaflet/leaflet.js"></script>
    <script src="js/leaflet-heat.js"></script>
    <script src="js/ion.rangeSlider.min.js"></script>

    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="app">

<div id="map"></div>

<div id="settings">
<div>
    <img src="img/title.png" style="width:100%;" />
    <h3>НАЛАШТУВАННЯ КАРТИ</h3>
    <label>Радіус точки:</label> <input type="number" v-model="current_filter.options.radius" lazy number><br/>
    <label>Розмивання точки:</label> <input type="number" v-model="current_filter.options.blur" lazy number><br/>
    <h3>ФІЛЬТРАЦІЯ ДАНИХ</h3>
    <p class="gray">Обрано подій: {{ total }}</p>

    <div>
        <p class="label label-primary">Місяць</p>
    </div>

    <span v-for="month in filters.month_filter | orderBy filters.month_filter">
        <input type="checkbox" id="month-{{month}}" value="{{month}}" v-model="current_filter.month_filter">
        <label for="month-{{month}}">{{month}}</label>
    </span>
    <br>
    <hr/>

    <div>
        <p class="label label-primary">Дні тижня</p>
    </div>

    <span v-for="day in filters.weekday_filter">
        <input type="checkbox" id="day-{{day}}" value="{{day}}" v-model="current_filter.weekday_filter">
        <label for="day-{{day}}">{{day}}</label>
    </span>
    <br>
    <hr/>

    <div>
        <p class="label label-primary">Години</p>
    </div>

    <input type="text" id="hours" value=""/>
    <br>
    <hr/>

    <p class="label label-primary">Тип події</p>
    <div>
    <input type="text" id="event" v-model="current_filter.event_filter" lazy/>
    </div>
    <br>
    <p v-for="(event, value) in filters.event_filter | orderBy filters.event_filter -1">{{ return_label(event) }} ({{value}})</p>
    <hr/>

</div>
</div>


    <!-- Main Script -->
    <script src="js/bigdata.js"></script>
    <script src="js/main.js"></script>

</body>

</html>